In [1]:
import pandas as pd
from unidecode import unidecode
import re
import ast
import numpy as np
from wordcloud import WordCloud
import matplotlib.pyplot as plt

In [2]:
import warnings

#Suppress all warnings
warnings.filterwarnings("ignore")

In [3]:
# Remove accents with unidecode
def remove_accents(text):
    if isinstance(text, str):
        return unidecode(text)
    return text

## DF SPECIAL PRICES:

In [4]:
sp = pd.read_csv("/Users/admin/Desktop/IRONHACK/8.WEEK/final_project/notebooks/datos/final_categorias/special-prices.csv")

sp.reset_index(inplace = True)

In [5]:
sp = sp.dropna(subset=['product_name'])

sp.drop(columns=['Unnamed: 0'], inplace=True)

# Aplicar la función a todo el DataFrame
sp = sp.applymap(remove_accents)

In [6]:
sp.shape

(262, 5)

In [7]:
sp.head()

,index,product_name,normal_price,special_price,description
0,0,['VESTIDO CAMISERO POPELIN ANUDADO ZW COLLECTI...,"49,95 EUR","25,99 EUR","['COMPOSICION, CUIDADOS & ORIGENCOMPOSICIONTra..."
1,1,['CAMISA PLIEGUES CINTURON ZW COLLECTION'],"29,95 EUR","17,99 EUR","['COMPOSICION, CUIDADOS & ORIGENCOMPOSICIONTra..."
2,2,['PANTALON FLARE BOLSILLOS ZW COLLECTION'],"29,95 EUR","17,99 EUR","['COMPOSICION, CUIDADOS & ORIGENCOMPOSICIONTra..."
3,3,['JEANS ZW COLLECTION MARINE STRAIGHT TIRO ALTO'],"29,95 EUR","17,99 EUR","['COMPOSICION, CUIDADOS & ORIGENCOMPOSICIONTra..."
4,4,['VESTIDO ESTAMPADO ZW COLLECTION'],"39,95 EUR","25,99 EUR","['COMPOSICION, CUIDADOS & ORIGENCOMPOSICIONTra..."

### Clean and create new columns

In [8]:
# Define una función para limpiar el texto
def limpiar_texto(texto):
    return texto.strip("[]'")

# Aplica la función a la columna 'descripcion' usando apply y una función lambda
sp['product_name'] = sp['product_name'].apply(lambda x: limpiar_texto(x))

In [9]:
sp.head()

,index,product_name,normal_price,special_price,description
0,0,VESTIDO CAMISERO POPELIN ANUDADO ZW COLLECTION,"49,95 EUR","25,99 EUR","['COMPOSICION, CUIDADOS & ORIGENCOMPOSICIONTra..."
1,1,CAMISA PLIEGUES CINTURON ZW COLLECTION,"29,95 EUR","17,99 EUR","['COMPOSICION, CUIDADOS & ORIGENCOMPOSICIONTra..."
2,2,PANTALON FLARE BOLSILLOS ZW COLLECTION,"29,95 EUR","17,99 EUR","['COMPOSICION, CUIDADOS & ORIGENCOMPOSICIONTra..."
3,3,JEANS ZW COLLECTION MARINE STRAIGHT TIRO ALTO,"29,95 EUR","17,99 EUR","['COMPOSICION, CUIDADOS & ORIGENCOMPOSICIONTra..."
4,4,VESTIDO ESTAMPADO ZW COLLECTION,"39,95 EUR","25,99 EUR","['COMPOSICION, CUIDADOS & ORIGENCOMPOSICIONTra..."

In [10]:
sp2 = pd.read_csv("/Users/admin/Desktop/IRONHACK/8.WEEK/final_project/notebooks/datos/special_prices.csv")
sp2.reset_index(inplace = True)
sp2.drop(columns=['Unnamed: 0', 'desciption'], inplace=True)
sp2 = sp2.applymap(remove_accents)

In [11]:
sp2.head()

,index,product_name,price,description
0,0,JEANS ZW COLLECTION BOOTCUT TIRO MEDIO CONTOUR,"29,95 EUR",['Trabajamos con programas de seguimiento para...
1,1,VESTIDO ESTAMPADO ZW COLLECTION,"39,95 EUR",['Trabajamos con programas de seguimiento para...
2,2,VESTIDO CAMISERO POPELIN ANUDADO ZW COLLECTION,"49,95 EUR",['Trabajamos con programas de seguimiento para...
3,3,CAMISA PLIEGUES CINTURON ZW COLLECTION,"29,95 EUR",['Trabajamos con programas de seguimiento para...
4,4,PANTALON FLARE BOLSILLOS ZW COLLECTION,"29,95 EUR",['Trabajamos con programas de seguimiento para...

In [12]:
# Combina los DataFrames usando la función merge
sp_final = pd.merge(sp, sp2, on='product_name')

In [13]:
sp_final.shape

(496, 8)

In [14]:
sp_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496 entries, 0 to 495
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index_x        496 non-null    int64
 1   product_name   496 non-null    object
 2   normal_price   496 non-null    object
 3   special_price  496 non-null    object
 4   description_x  496 non-null    object
 5   index_y        496 non-null    int64
 6   price          496 non-null    object
 7   description_y  496 non-null    object
dtypes: int64(2), object(6)
memory usage: 31.1+ KB

In [100]:
#sp_final.head()

In [16]:
sp_final.shape

(496, 8)

In [17]:
sp_final = sp_final.drop_duplicates(subset=['product_name'])

In [18]:
sp_final.shape

(178, 8)

In [19]:
sp_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 178 entries, 0 to 495
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index_x        178 non-null    int64
 1   product_name   178 non-null    object
 2   normal_price   178 non-null    object
 3   special_price  178 non-null    object
 4   description_x  178 non-null    object
 5   index_y        178 non-null    int64
 6   price          178 non-null    object
 7   description_y  178 non-null    object
dtypes: int64(2), object(6)
memory usage: 12.5+ KB

In [20]:
sp_final.head(2)

,index_x,product_name,normal_price,special_price,description_x,index_y,price,description_y
0,0,VESTIDO CAMISERO POPELIN ANUDADO ZW COLLECTION,"49,95 EUR","25,99 EUR","['COMPOSICION, CUIDADOS & ORIGENCOMPOSICIONTra...",2,"49,95 EUR",['Trabajamos con programas de seguimiento para...
1,1,CAMISA PLIEGUES CINTURON ZW COLLECTION,"29,95 EUR","17,99 EUR","['COMPOSICION, CUIDADOS & ORIGENCOMPOSICIONTra...",3,"29,95 EUR",['Trabajamos con programas de seguimiento para...

In [21]:
sp_final.drop(columns=['description_x', 'index_y', 'price'], inplace=True)
sp_final.rename(columns={"description_y": "description"}, inplace=True)

In [101]:
#sp_final

### Clean and create new columns

- Create column made_in with the origin of the clothes.
- Create column composition of clothes.
- Create column recycled or not and wich material is recycled. 
- Create column for OCS & RCS. 
- Clean price, estandar, product_name & remove spaces, accents, symbols, quotes, etc.

#### Column Product_name:

In [23]:
def convertir_formato(texto):
    return texto.lower().title()

In [24]:
sp_final["product_name"] = sp_final["product_name"].apply(convertir_formato)

In [25]:
sp_final["product_name"] = sp_final["product_name"].str.strip() #delete null space infront of and behind each row
sp_final["product_name"] = sp_final["product_name"].str.lstrip() #delete null space left hand

In [26]:
# Alinea el texto a la izquierda y establece una anchura fija
#sp_final = sp.applymap(lambda x: f'{x:<50}' if isinstance(x, str) else x)

In [27]:
sp_final.head()

,index_x,product_name,normal_price,special_price,description
0,0,Vestido Camisero Popelin Anudado Zw Collection,"49,95 EUR","25,99 EUR",['Trabajamos con programas de seguimiento para...
1,1,Camisa Pliegues Cinturon Zw Collection,"29,95 EUR","17,99 EUR",['Trabajamos con programas de seguimiento para...
5,2,Pantalon Flare Bolsillos Zw Collection,"29,95 EUR","17,99 EUR",['Trabajamos con programas de seguimiento para...
6,3,Jeans Zw Collection Marine Straight Tiro Alto,"29,95 EUR","17,99 EUR",['Trabajamos con programas de seguimiento para...
7,4,Vestido Estampado Zw Collection,"39,95 EUR","25,99 EUR",['Trabajamos con programas de seguimiento para...

In [28]:
def convertir_formato(texto):
    return texto.lower().title()

In [29]:
sp_final["product_name"] = sp_final["product_name"].apply(convertir_formato)

In [30]:
sp_final.head()

,index_x,product_name,normal_price,special_price,description
0,0,Vestido Camisero Popelin Anudado Zw Collection,"49,95 EUR","25,99 EUR",['Trabajamos con programas de seguimiento para...
1,1,Camisa Pliegues Cinturon Zw Collection,"29,95 EUR","17,99 EUR",['Trabajamos con programas de seguimiento para...
5,2,Pantalon Flare Bolsillos Zw Collection,"29,95 EUR","17,99 EUR",['Trabajamos con programas de seguimiento para...
6,3,Jeans Zw Collection Marine Straight Tiro Alto,"29,95 EUR","17,99 EUR",['Trabajamos con programas de seguimiento para...
7,4,Vestido Estampado Zw Collection,"39,95 EUR","25,99 EUR",['Trabajamos con programas de seguimiento para...

In [31]:
# Alinea el texto a la izquierda y establece una anchura fija
sp_final = sp_final.applymap(lambda x: f'{x:<50}' if isinstance(x, str) else x)

##### Create rgex pattern to simplify the analysis

In [32]:
patt_sp = { r"[Vv]estido" : "Vestido",
            r"[Cc]amisa" : "Camisa",
            r"[Pp]antalon" : "Pantalon", 
            r"[Jj]eans" : "Jeans", 
            r"[Bb]olso" : "Bolso", 
            r"[Ss]andalia" : "Calzado",
            r"[Zz]apatillas" : "Calzado",
            r"[Mm]ocasin" : "Calzado",
            r"[Cc]haqueta" : "Chaqueta", 
            r"[Pp]arka" : "Chaqueta", 
            r"[Aa]norak" : "Chaqueta",
            r"[Cc]azadora" : "Chaqueta",
            r"[Jj]ersey" : "Jersey", 
            r"[Ff]alda" : "Falda",
            r"[Bb]lazer" : "Blazer", 
            r"[Cc]amiseta": "Camiseta"
          }

In [33]:
def categorize_activities(text, patt_sp):
    if isinstance(text, str):  # Check if the value is a text string
        for pattern, category in patt_sp.items():
            if re.search(pattern, text):
                return category
    return "Other"

In [34]:
# Clear invalid values in the "activity" column
sp_final["product_name"] = sp_final["product_name"].fillna("empty")  # Fill NaN values with an empty string
sp_final["product_name"] = sp_final["product_name"].astype(str)  # Convert all values to text strings
# Apply the function to categorize activities
sp_final["product_name"] = sp_final["product_name"].apply(lambda x: categorize_activities(x, patt_sp))
sp_final["product_name"].unique()

array(['Vestido', 'Camisa', 'Pantalon', 'Jeans', 'Jersey', 'Bolso',
       'Calzado', 'Chaqueta', 'Falda', 'Other', 'Blazer', 'Camiseta'],
      dtype=object)

In [35]:
sp_final["product_name"].value_counts()

product_name
Other       32
Chaqueta    28
Jersey      23
Vestido     17
Jeans       17
Pantalon    16
Calzado     15
Camisa      11
Falda       11
Blazer       5
Bolso        2
Camiseta     1
Name: count, dtype: int64

#### Column made in:

In [36]:
#Function for extract made in
def extract_origin_9(description):
    match = re.search(r'hecho\s+en\s+(\w+)', description, re.IGNORECASE)
    if match:
        return match.group(1)
    else:
        return None

In [37]:
sp_final['made_in'] = sp_final['description'].apply(extract_origin_9)
sp_final['made_in'].value_counts()

made_in
China         43
Marruecos     35
Turquia       28
Bangladesh    18
Camboya       17
Vietnam       14
Myanmar        9
Tunez          4
Pakistan       3
India          3
Egipto         2
Rumania        1
Indonesia      1
Name: count, dtype: int64

#### Column estandar:

In [38]:
# Regex pattern
patron_regex = re.compile(r'(?:estandares\s(.*))', re.IGNORECASE)

In [39]:
#Function to extract standar
def extract_estandar(description):
    # Desempaquetar la cadena de texto de la lista
    description = ast.literal_eval(description) #convertir un string a lista
    match = patron_regex.search(" ".join(description[0:1]))
    #print(" ".join(description[0:1]))
    #print(match)
    if match:
        return match.group(1)
    else:
        return None

In [40]:
# Apply the function to the column description and create a new column called made_in
sp_final['estandar'] = sp_final['description'].apply(extract_estandar)

In [41]:
def check_create(text):
    palabras_clave = ['estandar', 'sociales', 'medioambientales', 'seguridad y salud']
    for palabra in palabras_clave:
        if palabra in text:
            return True
    return False

In [42]:
sp_final['standard_soc_ma'] = sp_final['estandar'].apply(check_create)

In [43]:
sp_final['standard_soc_ma'].value_counts()

standard_soc_ma
True    178
Name: count, dtype: int64

In [44]:
sp_final.drop(columns=['estandar'], inplace=True)

#### Column composition:

In [45]:
#Function to extract composition
def extract_composition_materiales_4(df):
    
    df["comprobacion"] = np.nan
    
    for idn in df.index:
        
        description = df.loc[idn, "description"]
    
        if description != "[]":
            # Desempaquetar la cadena de texto de la lista
            res = description.strip('][').split(', ')
            s1 = res[2:3][0] #Posicion donde esta ubicado en la lista
            #print(s1)
            patron = r'(\d+)%\s*([a-zA-Z]+)'
            # Buscamos todas las coincidencias en la cadena
            coincidencias = re.findall(patron, s1)
            #print(coincidencias)
        
            df["comprobacion"][idn] = coincidencias
            
            for porcentaje, material in coincidencias:
                if material in df.columns:
                    df[material][idn] = porcentaje
                else:
                    df[material]= np.nan
                    df[material][idn] = porcentaje
        else:
            continue
                
    return df

In [46]:
apply_function = extract_composition_materiales_4(sp_final)

In [47]:
#sp_final.info()

In [50]:
# Crear una nueva columna para contar el número de materiales en cada lista
sp_final['num_materials'] = sp_final['comprobacion'].apply(lambda x: len(x) if isinstance(x, list) else 0)

In [48]:
# Crear una nueva columna para asignar el main material de cada producto.
sp_final['material'] = sp_final['comprobacion'].apply(
    lambda x: x[0][1] if isinstance(x, list) and len(x) > 0 and len(x[0]) > 1 else None)

In [49]:
sp_final["material"].value_counts()

material
poliester      68
algodon        52
viscosa        24
poliuretano    15
acrilico        9
poliamida       4
lino            2
liocel          2
lana            1
piel            1
Name: count, dtype: int64

In [52]:
# Crear una nueva columna para asignar el material secundario de cada producto.
sp_final['material_secundario'] = sp_final['comprobacion'].apply(lambda x: x[1][1] if len(x) > 1 else None)

In [51]:
# Crear una nueva columna para contar el % de material para ese producto
sp_final['num_material'] = sp_final['comprobacion'].apply(lambda x: int(x[0][0]) if len(x) > 0 else None)

In [53]:
# Crear una nueva columna para contar el % de material para ese producto
sp_final['num_material_secundario'] = sp_final['comprobacion'].apply(lambda x: int(x[1][0]) if len(x) > 1 else None)

In [54]:
sp_final['tercer_elemento'] = sp_final['comprobacion'].apply(
    lambda x: x[2][1] if isinstance(x, list) and len(x) > 2 else None
)

In [55]:
sp_final['num_tercer_elemento'] = sp_final['comprobacion'].apply(
    lambda x: int(x[2][0]) if isinstance(x, list) and len(x) > 2 else None
)

In [56]:
columns_to_keep6 = ["comprobacion", "material", "num_materials", "num_material", "material_secundario", "num_material_secundario", "tercer_elemento", "num_tercer_elemento"]

filtered_df = sp_final[columns_to_keep6]
#filtered_df.head(20)

#### Column recycled:

In [57]:
def recycled_2(df):
    
    # Inicializar columnas adicionales para cada tipo de material
    for material in ["OCS", "RCS", "reciclado"]:
        df[material] = np.nan
    
    # Inicializar columna de comprobación
    df["comprobacion2"] = np.nan
    
    # Iterar sobre cada índice del DataFrame
    for idn in df.index:
        # Obtener la descripción de la fila actual
        description = df.loc[idn, "description"]
        
        # Lista para almacenar los materiales encontrados
        materiales_encontrados = []
        
        # Verificar si la descripción no está vacía
        if description != "[]":
            # Desempaquetar la cadena de texto de la lista
            res = description.strip('][').split(', ')
            
            # Recorrer cada elemento de la descripción
            for item in res:
                # Buscar coincidencias con el patrón en la descripción
                matches = re.findall(r"(\d+% .*?(?:OCS|RCS|reciclado|cultivo orgánico))", item)
                
                # Iterar sobre las coincidencias encontradas
                for match in matches:
                    # Extraer el porcentaje y el tipo de material
                    porcentaje, material = match.split(None, 1)
                    
                    # Limpiar el tipo de material
                    material = material.strip()
                    
                    # Convertir el porcentaje a float
                    porcentaje = float(porcentaje.strip('%'))
                    
                    # Asignar el porcentaje al tipo de material en la fila actual
                    df.at[idn, material] = porcentaje
                    
                    # Agregar el material a la lista de materiales encontrados
                    materiales_encontrados.append(material)
                    
        # Asignar la lista de materiales encontrados a la columna de comprobación
        df.at[idn, "comprobacion2"] = ', '.join(materiales_encontrados)  # Convertir la lista a cadena de texto
                
    return df

In [58]:
prueba3 = recycled_2(sp_final)

In [103]:
#sp_final.info()

In [60]:
columns_to_keep3 = ["comprobacion2", "algodon de cultivo organico certificado OCS", "algodon reciclado", "poliester reciclado", "poliamida reciclada certificada RCS","acrilico reciclado","elastano reciclado"]

filtered_df = sp_final[columns_to_keep3]
filtered_df.tail(20)

,comprobacion2,algodon de cultivo organico certificado OCS,algodon reciclado,poliester reciclado,poliamida reciclada certificada RCS,acrilico reciclado,elastano reciclado
466,,NaN,NaN,NaN,NaN,NaN,NaN
467,algodon de cultivo organico certificado OCS,95.0,NaN,NaN,NaN,NaN,NaN
473,,NaN,NaN,NaN,NaN,NaN,NaN
474,,NaN,NaN,NaN,NaN,NaN,NaN
475,poliester reciclado,NaN,NaN,100.0,NaN,NaN,NaN
476,,NaN,NaN,NaN,NaN,NaN,NaN
477,"poliester reciclado, algodon reciclado",NaN,14.0,86.0,NaN,NaN,NaN
478,,NaN,NaN,NaN,NaN,NaN,NaN
482,,NaN,NaN,NaN,NaN,NaN,NaN
483,,NaN,NaN,NaN,NaN,NaN,NaN
484,,NaN,NaN,NaN,NaN,NaN,NaN
485,,NaN,NaN,NaN,NaN,NaN,NaN
486,,NaN,NaN,NaN,NaN,NaN,NaN
487,,NaN,NaN,NaN,NaN,NaN,NaN
490,,NaN,NaN,NaN,NaN,NaN,NaN
491,,NaN,NaN,NaN,NaN,NaN,NaN
492,,NaN,NaN,NaN,NaN,NaN,NaN
493,,NaN,NaN,NaN,NaN,NaN,NaN
494,poliester reciclado,NaN,NaN,100.0,NaN,NaN,NaN
495,,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
# Crear una función para verificar el tipo de certificación
def obtener_certificacion(lista):
    if 'algodon de cultivo organico certificado OCS' in lista:
        return 'OCS'
    elif 'poliamida reciclada certificada RCS' in lista:
        return 'RCS'
    else:
        return None

In [62]:
sp_final['certificacion'] = sp_final['comprobacion2'].apply(obtener_certificacion)

In [63]:
columns_to_keep3 = ["comprobacion2", "poliester reciclado","algodon reciclado","algodon de cultivo organico certificado OCS", "poliamida reciclada certificada RCS", "acrilico reciclado", "elastano reciclado", "certificacion"]

filtered_df = sp_final[columns_to_keep3]
#filtered_df.tail(5)

In [104]:
#sp_final.info()

In [65]:
# Crear una función para verificar el tipo de certificación
def obtener_certificacion(lista):
    if 'algodon de cultivo organico certificado OCS' in lista:
        return 'OCS'
    elif 'poliamida reciclada certificada RCS' in lista:
        return 'RCS'
    elif "poliester reciclado" in lista:
        return 'RCS'
    elif "algodon reciclado" in lista:
        return 'RCS'
    elif "acrilico reciclado" in lista:
        return "RCS"
    elif "elastano reciclado" in lista:
        return "RCS"
    else:
        return "None"

In [66]:
def aplicar_certificaciones(df):
    # Inicializar las nuevas columnas en el DataFrame
    df['OCS'] = np.nan
    df['RCS'] = np.nan
    
    for idx in df.index:
        descripcion = df.loc[idx, 'comprobacion2']
        
        if pd.notna(descripcion):
            if "organico" in descripcion.lower():
                df.at[idx, 'OCS'] = 'OCS'
            if "reciclado" in descripcion.lower() or "reciclada" in descripcion.lower():
                df.at[idx, 'RCS'] = 'RCS'
    
    return df

In [67]:
df_result = aplicar_certificaciones(sp_final)

In [68]:
# Crear la función para obtener el porcentaje correspondiente
def obtener_porcentaje(row):
    if "reciclado" in row['comprobacion2'].lower():
        porcentajes = re.findall(r'(\d+\.?\d*)%', row['comprobacion2'])
        if porcentajes:
            return float(porcentajes[0])
    return row['porcentaje']

In [69]:
sp_final['porcentaje'] = float('nan')

In [70]:
sp_final['porcentaje'] = sp_final.apply(obtener_porcentaje, axis=1)

In [71]:
#sp_final.info()

In [72]:
def establecer_rcs(row):
    if not pd.isna(row['algodon reciclado']) or \
       not pd.isna(row['poliamida reciclada certificada RCS']) or \
       not pd.isna(row['acrilico reciclado']) or \
       not pd.isna(row['elastano reciclado']):
        return 'RCS'
    else:
        return np.nan

In [73]:
sp_final['certificacion_2'] = sp_final.apply(establecer_rcs, axis=1)

In [74]:
columns_to_keep3 = ["comprobacion2", "poliester reciclado","algodon reciclado","algodon de cultivo organico certificado OCS", "certificacion", "porcentaje", "certificacion_2"]

filtered_df = sp_final[columns_to_keep3]
#filtered_df.tail(20)

#### Column Price:

In [75]:
def remove_currency(df):
    df["normal_price"] = df["normal_price"].replace("EUR", "", regex=True)
    df["special_price"] = df["special_price"].replace("EUR", "", regex=True)
    return df

In [76]:
remove = remove_currency(sp_final)

#### Column certificate por Intertek 193341:

In [77]:
def add_intertek_column(df):
    pattern = re.compile(r'Certificado\s+por\s+Intertek\s+193341', re.IGNORECASE)
    df['intertek'] = df['description'].apply(lambda x: bool(pattern.search(x)))
    
    return df

In [78]:
interket = add_intertek_column(sp_final)

In [79]:
sp_final["intertek"].value_counts()

intertek
False    93
True     85
Name: count, dtype: int64

### EDA

In [80]:
ocs_counts = sp_final['OCS'].value_counts()

# Obtener el recuento de valores únicos en la columna 'RCS'
rcs_counts = sp_final['RCS'].value_counts()

# Calcular el recuento total de elementos
total_count = len(sp_final)  # Aquí asumo que 'tshirt' es el DataFrame que contiene tus datos

# Calcular la proporción de cada recuento con respecto al total
ocs_counts_prop = (ocs_counts / total_count) * 387
rcs_counts_prop = (rcs_counts / total_count) * 387

# Crear la tabla dinámica con los recuentos corregidos
pivot_table2 = pd.DataFrame({'OCS': ocs_counts_prop, 'RCS': rcs_counts_prop})

# Si hay valores NaN en alguna de las columnas, reemplazarlos con 0
pivot_table2 = pivot_table2.fillna(0)

pivot_table2

           OCS        RCS
OCS  45.657303    0.00000
RCS   0.000000  160.88764

In [81]:
pivot_table2.to_csv("total_cert_sp.csv")

In [82]:
# Contar cuántos registros tienen valores no nulos en 'OCS' y 'RCS'
ocs_cert_count = sp_final['OCS'].notna().sum()
rcs_cert_count = sp_final['RCS'].notna().sum()

# Calcular el recuento total de elementos
total_count = len(sp_final)

# Calcular el porcentaje de registros con certificación en 'OCS' y 'RCS'
ocs_cert_percentage = (ocs_cert_count / total_count) * 100
rcs_cert_percentage = (rcs_cert_count / total_count) * 100

# Mostrar los porcentajes
print(f"Porcentaje de registros con certificación OCS: {ocs_cert_percentage:.2f}%")
print(f"Porcentaje de registros con certificación RCS: {rcs_cert_percentage:.2f}%")

Porcentaje de registros con certificación OCS: 11.80%
Porcentaje de registros con certificación RCS: 41.57%

In [83]:
# Contar cuántos registros tienen valores no nulos en 'OCS' y 'RCS'
ocs_cert_count = sp_final['OCS'].notna().sum()
rcs_cert_count = sp_final['RCS'].notna().sum()

# Calcular el recuento total de elementos
total_count = len(sp_final)

# Calcular el porcentaje de registros con certificación en 'OCS' y 'RCS'
ocs_cert_percentage = (ocs_cert_count / total_count) * 100
rcs_cert_percentage = (rcs_cert_count / total_count) * 100

# Crear un DataFrame con los porcentajes
certification_percentages = pd.DataFrame({
    'Certificación': ['OCS', 'RCS'],
    'Porcentaje': [ocs_cert_percentage, rcs_cert_percentage]
})

# Guardar el DataFrame en un archivo CSV
certification_percentages.to_csv("certification_percentages.csv", index=False)

# Mostrar el DataFrame para verificar
certification_percentages

  Certificación  Porcentaje
0           OCS   11.797753
1           RCS   41.573034

In [84]:
certification_percentages.to_csv("%_certif_sp.csv")

In [85]:
# Calcular el total de registros por producto
total_por_producto = sp_final.groupby('product_name').size()

# Calcular el número de registros con certificación por producto en 'OCS' y 'RCS'
ocs_cert_por_producto = sp_final.groupby('product_name')['OCS'].apply(lambda x: x.notna().sum())
rcs_cert_por_producto = sp_final.groupby('product_name')['RCS'].apply(lambda x: x.notna().sum())

# Calcular el porcentaje de certificación por producto
ocs_cert_percentage_por_producto = (ocs_cert_por_producto / total_por_producto) * 100
rcs_cert_percentage_por_producto = (rcs_cert_por_producto / total_por_producto) * 100

# Crear un DataFrame con los porcentajes por producto
certification_percentages_por_producto = pd.DataFrame({
    'Product': total_por_producto.index,
    'OCS Percentage': ocs_cert_percentage_por_producto.values,
    'RCS Percentage': rcs_cert_percentage_por_producto.values
})

# Guardar el DataFrame en un archivo CSV
certification_percentages_por_producto.to_csv("certification_percentages_por_producto.csv", index=False)

# Mostrar el DataFrame para verificar
certification_percentages_por_producto

     Product  OCS Percentage  RCS Percentage
0     Blazer        0.000000      100.000000
1      Bolso        0.000000        0.000000
2    Calzado        0.000000        0.000000
3     Camisa       27.272727       27.272727
4   Camiseta      100.000000        0.000000
5   Chaqueta        3.571429       57.142857
6      Falda        9.090909       72.727273
7      Jeans       47.058824       52.941176
8     Jersey        0.000000       34.782609
9      Other        0.000000       18.750000
10  Pantalon       25.000000       68.750000
11   Vestido       17.647059       47.058824

In [86]:
certification_percentages_por_producto.to_csv('porcentaje_total_sp.csv')

## FINAL SP DF:

In [105]:
#sp_final.info()

In [88]:
sp_final = sp_final.drop(columns=['description', "comprobacion", "comprobacion2"])

In [89]:
sp_final.rename(columns={
    "index_x" : "index",
    "material": "main_txt",
    "num_materials": "total_composition",
    "num_material": "1_composition",
    "material_secundario": "second_txt",
    "num_material_secundario": "2_composition",
    "reciclado": "txt_recycled",
    "algodon de cultivo organico certificado OCS": "cotton_OCS",
    "poliester reciclado": "rec_poliester",
    "algodon reciclado": "rec_cotton",
    "poliamida reciclada certificada RCS": "rec_poliamida",
    "acrilico reciclado": "rec_acrilico",
    "elastano reciclado" : "rec_elastano"
}, inplace=True)

In [90]:
# Función para quitar el símbolo '%'
def remove_percent(x):
    if isinstance(x, str):
        return x.replace('%', '')
    return x

In [91]:
sp_final = sp_final.applymap(remove_percent)

In [92]:
columns_to_convert = [
    'algodon', 'poliamida', 'elastano', 'lino', 'viscosa', 
    'poliester', 'otras', 'liocel', 'fibra', 
    'acrilico', 'lana',
    'cotton_OCS', 'rec_poliester', 'rec_cotton', 'rec_poliamida', 
    'rec_acrilico', 'rec_elastano', 'porcentaje'
]

# Convertir las columnas especificadas a numérico
for column in columns_to_convert:
    sp_final[column] = pd.to_numeric(sp_final[column], errors='coerce')

In [93]:
sp_final['price'] = pd.to_numeric(sp_final['normal_price'].str.replace(',', '.'), errors='coerce')

In [94]:
sp_final['price'] = pd.to_numeric(sp_final['special_price'].str.replace(',', '.'), errors='coerce')

In [95]:
columns1 = ['algodon', 'poliamida', 'elastano', 'lino', 'viscosa', 'poliester', 'otras', 'liocel',
                     'fibra', 'acrilico', 'lana', '1_composition', '2_composition', 'cotton_OCS', 'rec_poliester',
                     'rec_cotton', 'rec_poliamida', 'rec_acrilico','rec_elastano', 'porcentaje']

sp_final[columns1] = sp_final[columns1].apply(lambda x: x / 100)

In [96]:
# Calcular el total de certificaciones OCS y el total de algodón en todas las prendas
total_OCS = sp_final['OCS'].eq('OCS').sum()
total_algodon = sp_final['algodon'].sum()

# Calcular el porcentaje de OCS en función del total de algodón
porcentaje_OCS_total = (total_OCS / total_algodon) * 100
porcentaje_OCS_total

43.81389526392657

In [97]:
sp_final.to_csv("final_sp.csv", index=True)

In [98]:
sp_final = sp_final.drop(columns=["price"])

In [106]:
#sp_final.info()